@import '../variables';
@import '../mixins';

.Main {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding: 7rem 15%;
  width: 100%;
  background-color: $bg-color;
  position: relative;
  flex: 1 0 auto;

  @include respond(tab-land) {
    padding: 5rem 5%;
  }

  @include respond(tab-port) {
    padding: 4rem 3%;
  }

  @include respond(big-desktop) {
    padding: 10rem 25%;
  }

  h2 {
    text-align: center;
    color: $green;
    font-family: Blanka;
    font-size: 3.75rem;
    letter-spacing: 3px;
    z-index: 10;

    @include respond(tab-port) {
      font-size: 2.5rem;
      letter-spacing: 1px;
    }
  }

  .form {
    margin-top: 4rem;
    height: auto;

    &__input {
      display: flex;
    }

    &__group {
      width: 25%;
      margin-bottom: 5px;

      &:not(:last-child) {
        margin-right: 5px;
      }

      &-text {
        display: none;
      }

      &-label {
        cursor: pointer;
        transition: all 0.3s ease-out;

        &:hover {
          background: $purple;
          color: $bg-color;
        }
      }

      &-label,
      &-number {
        padding: 1.5rem 0;
        display: flex;
        justify-content: center;
        border: 3px solid $purple;
        color: $green;
        font-size: 1.5em;
        font-weight: bold;

        @include respond(tab-port) {
          padding: 1.25rem 0;
          border: 2px solid $purple;
        }

        &:focus {
          outline: solid darken($purple, 10%) 3px !important;

          @include respond(tab-port) {
            outline: solid darken($purple, 10%) 1px !important;
          }
        }
      }

      &-number {
        width: 100%;
        text-align: center;
        background-color: transparent;

        @include respond(tab-port) {
          padding: 1.125rem 0;
          // to avoid weird border-radius behavior on devices
          border-radius: 0;
          // to avoid auto zoom on devices
          font-size: 16px;
        }

      }

      .active {
        background-color: $purple;
        color: $bg-color;
      }
    }

    &__results {
      padding: 2rem;
      overflow: scroll;
      width: 100%;
      height: 350px;
      border: 3px solid $purple;

      @include respond(tab-port) {
        padding: 1.25rem;
        border: 2px solid $purple;
      }
    }
  }
}

.btn-copy {
  width: calc(25% - 6px);
  background: $green;
  padding: 1.5rem 0;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  transform: translate(3px, -3px);
  cursor: pointer;
  font-size: 1.2rem;

  @include respond(tab-port) {
    width: calc(50% - 6px);
  }

  &:focus {
    outline: solid darken($purple, 10%) 3px !important;
  }

  &:hover {
    background: lighten($green, 5%);
  }
}
